$lines: #DDE6EF;
$darker-lines: #7C79A6;
$purple: #9D98EC;
$green: #00D385;

.multilingual {
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .dot {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 3px;
  }

  h2 { margin: 0; }

  .background-dots {
    position: absolute;
    z-index: -999;
    bottom: 0vh;
    left: 0vw;
  }

  .background-circle-top {
    position: absolute;
    top: 2vh;
    left: 15vw;
    animation: 5s rotateDots infinite linear;
  }

  .grey-dot-left {
    top: 77vh;
    left: 35vw;
    background-color: $lines;
    transform: rotate(42deg);
    animation: 5s rotateDots infinite linear;
  }

  .green-dot-right {
    top: 80vh;
    right: 14vw;
    background-color: $green;
    animation: 3s rotateDots infinite;
  }

  .multilingual-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin: 0 10%;

    img {
      opacity: 0;
    }
  }

  .multilingual-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    opacity: 0;
    margin-left: 10%;

    .list-item {
      display: flex;
      align-items: center;

      .purple-dot-key {
        position: relative;
        background-color: $purple;
        margin-right: 20px;
        top: -2px;
      }
    }

    .conclusion {
      margin-top: 30px;
      padding: 30px 20px 0 0;
      border-top: 1px solid $lines;
      color: $darker-lines;
    }
  }

  .transition-on {
    animation: 2s slideFromBottom;
    animation-fill-mode: forwards;
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    margin-top: 10%;
  }
  to {
    opacity: 1;
    margin-top: 0%;
  }
}

@keyframes rotateDots {
  from {
    margin-top: 0px;
    transform: rotate(0deg);
  }
  50% {
    margin-top: 15px;
    transform: rotate(180deg);
  }
  to {
    margin-top: 0px;
    transform: rotate(360deg);
  }
}