@media screen and (max-width: 728px) {
  .invoicing {
    flex-direction: column;
    height: 100%;

    .trapeze {
      width: 100vw;
    }

    .invoicing-left {
      width: 100%;
    }

    .invoicing-right {
      width: 100vw;
    }
  }
}