@media screen and (max-width: 728px) {
  .invoicing {
    flex-direction: column;
    height: 100%;

    .trapeze {
      width: 100vw;
    }

    .invoicing-left {
      width: 80vw;
      margin: 0 10vw;
    }

    .invoicing-right {
      width: 80vw;
      margin: 0 10vw;

      img { width: 120%; }
    }
  }
}