$main: #04004D;
$green: #00D385;
$purple: #9D98EC;
$trapeze: #F6F8FF;
$lines: #DDE6EF;

.Zest {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  section {
    position: relative;
    width: 100vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .trapeze {
      position: absolute;
      z-index: -1;
      border-bottom: 100vw solid $trapeze;
      border-left: 50vh solid transparent;
      border-right: 50vh solid transparent;
      width: 100vh;
      height: 0px;
    }

    &.money-control {
      .trapeze {
        left: -100vh;
        transform: rotate(90deg);
      }
    }

    &.invoicing {
      margin-top: 50vh;

      .trapeze {
        right: calc(-100vh + 1px);
        transform: rotate(-90deg);
      }
    }

    &.mobile-accounts {
      margin-top: 10vh;
    }
  }
}
