$main: #04004D;
$main-hover: #0800a7;
$main-active: #040038;
$green: #00D385;

@font-face {
  font-family: 'Axiforma Regular';
  src: local('Axiforma Regular'), url(./fonts/Axiforma-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Axiforma Book';
  src: local('Axiforma Book'), url(./fonts/Axiforma-Book.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Axiforma Regular', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main;
}

h1 {
  font-size: 60px;
  line-height: 80px;
}

h2 {
  font-size: 42px;
  line-height: 60px;
}

.green-text {
  color: $green;
}

.btn {
  color: #fff;
  background-color: $main;
  transition: 1s all ease;
  cursor: pointer;

  &.btn-squared {
    border-radius: 10px;
    padding: 13px 20px 5px;
  }

  &.btn-rounded {
    border-radius: 32px;
    padding: 9px 20px 6px;
  }

  &:hover { 
    background-color: $main-hover;
    color: #fff;
  }
  &:active { 
    background-color: $main-active;
    color: #fff;
    transition: none;
  }
}

svg {
  font-family: "Axiforma Book";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
